body{
    background-color: rgb(26, 161, 44);
}
.navigation{
            list-style-type: none;
            display: flex;
            justify-content: end;
        }
.navigation li{
                padding: 4px;                        
        }
.navigation li a{
                 text-decoration: none;
        }
.box{   
    height: 50px;
    width:auto;  
    margin-left:auto; 
    border-style: solid;
    margin-top:auto;    
    outline-style: solid;
    outline-color: rgb(21, 41, 1);   
}
.container_addcourse{
    width: 33%;
    height: auto;
    padding-left: 33%;
    text-align: left;
}
.div_bgcolor{
    background-color: rgb(84, 134, 2);
    padding-left: 30%;
}
.container_courses{
    border: 5px;
    width: auto;
    height: auto;
}
.container_learnmore{
    width: 33%;
    height: auto;
    padding-left: 33%;

}
.button_learnmore{
    background-color: purple;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
}
.align_learnmore{
    display: flex;
    justify-content: space-between;
}
.flex_learnmore{
    display: flex;
}
.div1_contact{
    padding:0%,33%;
    text-align: center;
    line-height: 20px;
}
.column_contact{
    width:30%;
            float:left;
            /* padding: 10px; */
            text-align: center;
            font-size: small;
            line-height: 20px;
}
.container_update{
    width: 33%;
    height: auto;
    /*background: #c7b4b4;*/
    align-items: center;
    padding-left: 34%;
}
.container_login{
    width: 33%;
    height: auto;
    padding-left: 34%;
}
.container_signup{
    width: 33%;
    height: auto;
    padding-left: 34%;
}